* {
    font-family: 'Inter';
    box-sizing: border-box;
}

h2,
p {
    margin: 0px
}

html,
body {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 8%);
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.display {
    width: 100%;
    max-width: 400px;
    padding: 50px;
    text-align: center;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    color: #fff;
    margin: auto auto;
}

.profile {
    font-weight: 600;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.button-display button {
    width: 100%;
    max-width: 400px;
    height: 60px;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    display: block;
    border-radius: 10px;
    border: 3px solid hsl(0, 0%, 12%);
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 20%);
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
}

.button-display button:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%)
}

.attribution {
    font-size: 12px;
    color: hsl(0, 0%, 60%);
    text-align: center;
}


@media(max-width : 768px) {
    .display {
        width: 100%;
        max-width: 350px;
    }
}